@model Orgnzr.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            In Stock Amount
            <!--Html.DisplayNameFor(model => model.inStockAmount) -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inStockAmount)
        </dd>
        <dt class="col-sm-2">
            Restock Amount
            <!--Html.DisplayNameFor(model => model.restockAmount) -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.restockAmount)
        </dd>
        <dt class="col-sm-2">
            Product ID
            <!--Html.DisplayNameFor(model => model.Product) -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.productName)
        </dd>
        <dt class="col-sm-2">
            Product Name
            <!--Html.DisplayNameFor(model => model.productName)-->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.productDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.inventoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
