@model IEnumerable<Orgnzr.Models.Inventory>

@{
    ViewData["Title"] = "Restock Inventory";
}

<h1>Inventory</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Product &raquo;</a>
    &emsp;
    <a asp-action="Index" class="btn btn-primary">&laquo; Switch to Inventory List &raquo;</a>
    <a asp-action="Inventory" class="btn btn-primary">&laquo; Switch to Inventory List &raquo;</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
                <!--Html.DisplayNameFor(model => model.productName)-->
            </th>
            <th>
                Product Description
            </th>
            <th>
                In Stock Amount
                <!--Html.DisplayNameFor(model => model.inStockAmount) -->
            </th>
            <th>
                Restock Amount
                <!--Html.DisplayNameFor(model => model.restockAmount) -->
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.inStockAmount < item.restockAmount)

            {
        <tr bgcolor="Red">
            <td>
                @Html.DisplayFor(modelItem => item.Product.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inStockAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restockAmount)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.productID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.productID">Details</a> |
            </td>
        </tr>
            }
        }





    </tbody>
</table>

