@model Orgnzr.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Appointment Day
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentDay)
        </dd>
        <dt class="col-sm-2">
            Appointment Month
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appoitnmentMonth)
        </dd>
        <dt class="col-sm-2">
            Appointment Year
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentYear)
        </dd>
        <dt class="col-sm-2">
            Appointment Start Hour
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentStartHour)
        </dd>
        <dt class="col-sm-2">
            Appointment Start Minute
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentStartMinute)
        </dd>
        <dt class="col-sm-2">
            Appointment Finish Hour
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentFinishHour)
        </dd>
        <dt class="col-sm-2">
            Appointment Finish Minute
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentFinishMinute)
        </dd>
        <dt class="col-sm-2">
            Appointment Hour Duration
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentHourDuration)
        </dd>
        <dt class="col-sm-2">
            Appointment Minute Duration
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentMinDuration)
        </dd>
        <dt class="col-sm-2">
            Client Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.clientId)
        </dd>
        <dt class="col-sm-2">
            Service Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.serviceID)
        </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.appointmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
