@model IEnumerable<Orgnzr.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create">Create New Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Day
            </th>
            <th>
                Month
            </th>
            <th>
                Year
            </th>
            <th>
                Start Hour
            </th>
            <th>
                Start Minute
            </th>
            <th>
                Finish Hour
            </th>
            <th>
                Finish Minute
            </th>
            <th>
                Hour Duration
            </th>
            <th>
                Minute Minute
            </th>
            <th>
                Client Name
            </th>
            <th>
                Service
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appoitnmentMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentStartHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentStartMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentFinishHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentFinishMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentHourDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentMinDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.serviceName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appointmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appointmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appointmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
