@model IEnumerable<Orgnzr.Models.Appointment>

@{
    ViewData["Title"] = "Waitlist";
}

<h1>Waitlisted Appointments</h1>

<p>
    <a asp-action="Index" class="btn btn-primary"> Appointments &raquo;</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appointmentStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointmentFinishTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.waitlistAppt.ToString().Equals("Yes"))
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.appointmentStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.appointmentFinishTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.serviceName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.appointmentID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.appointmentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.appointmentID">Delete</a> |
                    <a asp-action="RemoveFromWaitlist" asp-route-id="@item.appointmentID">Remove from Waitlist</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>