@model IEnumerable<Orgnzr.Models.ClientContact>

@{
    ViewData["Title"] = "Client Contacts";
}

<h1>Contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
                <!--(at symbol) Html.DisplayNameFor(model => model.firstName) -->
            </th>
            <th>
                Last Name
                <!-- (at symbol)Html.DisplayNameFor(model => model.lastName) -->
            </th>
            <th>
                Phone Number
                <!--(at symbol)Html.DisplayNameFor(model => model.phoneNumber)-->
            </th>
            <th>
                Email Address
                <!--(at symbol)Html.DisplayNameFor(model => model.emailAddress)-->
            </th>
            <th>
                Preferred Contact
                <!--(at symbol)Html.DisplayNameFor(model => model.preferredContact) -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preferredContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.clientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.clientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.clientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
